@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
  @apply mx-auto p-[24px] gap-[48px] w-full flex justify-between;
}

@media screen and (max-width: 996px) {
  .mainContainer {
    @apply flex-col;
  }
}
