@tailwind base;
@tailwind components;
@tailwind utilities;

.baseCard {
  width: 100%; 
  height: 100%;
  max-width: 300px;
  padding: 32px;
  @apply flex flex-col border-2 border-[var(--avatar-card-border)];
  align-items: center;
}
