@tailwind base;
@tailwind components;
@tailwind utilities;



.containedItems {
  @apply mx-auto gap-[48px] p-[24px] w-full flex justify-between;
}
@media screen and (max-width: 996px) {
  .containedItems {
    @apply flex-col gap-[48px];
  }
}
