.base-card {
  width: 100%;
  height: 100%;
  gap: 24px;
  background-color: gray;
  transition: background-color 0.18s ease-in-out;
  border-radius: 8px;
}

.base-card:hover {
  background-color: rgba(180, 180, 180, 0.1);
  border: 1px solid white;
}
