/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgba(83, 181, 201, 1);

  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;

  --ifm-color-primary-light: rgba(83, 181, 201, 0.2);
  --ifm-color-primary-lighter: rgba(4, 112, 85, 0.6);
  --ifm-color-primary-lightest: rgba(4, 112, 85, 0.3);
  --ifm-code-font-size: 95%;

  --about-card-background: rgba(155, 155, 155, 0.1); 
  --about-card-background-hover: rgba(185, 185, 185, 0.1); 

  --philosophy-card-background: rgba(150, 150, 150, 0.1);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --avatar-card-massasoit: rgba(234, 170, 0, 0.7);
  --avatar-card-northeastern: #C8102E;
  --avatar-card-border: rgba(0, 32, 91, 0.6);
  --avatar-card-border-northeastern: rgba(0, 32, 91, 0.6);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: rgba(61, 237, 151, 1);
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;

  --ifm-color-primary-light: rgba(61, 237, 151, 0.2);
  --ifm-color-primary-lighter: rgba(61, 237, 151, 0.6);
  --ifm-color-primary-lightest: rgba(61, 237, 151, 0.3);  

  --about-card-background: rgba(222, 222, 222, 0.1); 
  --about-card-background-hover: rgba(0, 0, 0, 0.1); 
  --philosophy-card-background: rgba(150, 150, 150, 0.1);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --avatar-card-massasoit: rgba(234, 170, 0, 0.7);
  --avatar-card-northeastern: #C8102E;
  --avatar-card-border: rgba(0, 32, 91, 0.6);
  --avatar-card-border-northeastern: rgba(255, 255, 255, 0.6);
}
