.education-card-wrapper {
  position: relative;
  width: 100%;
  margin: 32px 0;
  padding: 16px;
  background: rgba(255,255,255,0.1);
  min-height: 400px;
  border-radius: 16px;
}

.education-card-title {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 24px;
  text-align: center;
}

.mainContainer {
  position: relative;;
  display: flex;
  height: 320px;
  border: 5px solid #000000;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  min-width: 700px;
  width: 100%;
  margin-bottom: 32px;
}

.education-item {
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  background-color: var(--item-color);
  width: 80px;
  flex: 0 0 80px;
}

.education-item.active {
  position: relative;
  width: 100%;
  min-width: 100px;
  flex: 1 1 auto;
}

.education-item-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.education-item.active .education-item-content {
  bottom: 20px;
  left: 20px;
}

.education-item-inner {
  display: flex;
  align-items: center;
}

.education-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.education-icon {
  color: var(--item-color);
}

.education-text {
  margin-left: 10px;
  color: #fff;
  white-space: nowrap;
}

.education-title {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.education-subtitle {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.9;
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition-delay: 0.1s;
}

